
@charset "UTF-8";
@import url('static/font/Hasklig-Regular.otf');

.darcula {
    --bg-color: #2b2b2b;
    --gray-color: #323232;
    --orange-color: #cc7832;
    --white-color: #a9b7c6;
    --green-color: #629755;
    --blue-color: #9cdcfe;
    --yellow-color: #d7ba7d;
    --red-color: #D25252;
    --monospaced-family: 'Hasklig';

    
    background-color: #2b2b2b;
    text-shadow: 0 0 10px black;
    color: var(--white-color);
}

.darcula .text-quote * {
    font-size: 5rem;
    /* background-color: green !important; */
}
.darcula .text-quote p {
    color: var(--green-color);
    font-weight: normal;
    /* font-family: var(--monospaced-family); */
}
.darcula .text-quote cite {
    color: var(--white-color);
    font-weight: lighter;
}

.darcula h1,
.darcula h2 {
    text-shadow: 0 0 10px black, 0 0 30px black, 0 0 5px black;
    font-size: 6em;
    font-weight: normal;
    font-family: 'Hasklig';
}

.darcula h1 {
    color: var(--white-color);
    font-size: 8em;
}
.darcula h2 {
    color: var(--orange-color);
}
.darcula ul.biglist {
    list-style: none;
    font-size: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.darcula ul.biglist > li {
    line-height: 1.2;
}

.darcula ul.biglist > li::before{
    content: "*";
    font-family: var(--monospaced-family);
    color: var(--orange-color);
    vertical-align: middle;
    font-weight: bold;
    display: inline-block;
    min-width: 100px;
}


h2.extralarge{
    font-size: 20em;
}

.background {
    opacity: 0.6;
}

.cardlist li {
    width: 46%;
    text-align: center;
    font-size: 2.5em;
}

article#webslides {
    overflow: visible;
}

.spacer-top {
    margin-top: 4em;
}

pre{
    padding: 0;
    border: 5px solid var(--gray-color);
    border-radius: 1em;
    background-color: var(--gray-color);
}

pre:not(.command) {
    box-shadow: 0 0 10px 0 black;
    font-size: 1em;
    line-height: 1.2;
    margin: 1em;
}

pre:not(.command) code.hljs {
    border-radius: 1em;
    padding-left: 1em;
}

pre:not(.command).big {
    font-size: 1.4em;
}
pre.command {
        margin: 0;
        display: flex;
        flex-direction: column;
}
pre.command code {
        margin: 0;
        padding: 0.5em;
        text-align: left;
        font-weight: bold;
        font-size: 1.5em;
}
pre.command code.prompt::before {
        content: "$>";
        display: inline-block;
        width: 2em;
        margin-left: 0.5em;
        color: var(--blue-color);
        font-weight: lighter;
}
pre.command code.prompt:last-child::after {
        content: "_";
        display: inline-block;
        margin-left: 0.5em;
        color: var(--blue-color);
        animation-name: cursorblink;
        animation-duration: 2s;
        animation-iteration-count: infinite;
}
pre.command code.error {
        color: var(--red-color);
}

.browser {
    box-shadow: 0 0 10px black;
}
.browser::before{
    height: 1em;
}
.browser img{
    margin-top: 2em;
}

@keyframes cursorblink {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

span.hljs-comment {
    color: var(--green-color);
}

span.commercial {
    color: var(--red-color);
    background-color: var(--gray-color);
    border-radius: 0.2em;
    padding: 0.2em;
    font-size: 0.7em;
}